<div class="container">
    <div class="navbarcontainer">
        <nav class="navbar" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="hidden-phone" src="/images/logo51.jpg" title="PMSOFT" alt="PMSOFT"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#/">PMSOFT</a></li>
                    <li><a href="#/contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="jumbotron companyheader">
        <div class="container">
            <div class="col-md-5">
                <h1>Software development capabilities</h1>
                <h2>We deliver systems on top of continuous integration infrastructure</h2>
            </div>
        </div>
    </div>

    <div class="container workaspects">
        <div class="col-md-12">
            <div class="page-header text-center">
                <h1>Key aspects of our work</h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-pmsoft">
                <div class="panel-heading">
                    <h3 class="panel-title">Innovative technologies</h3>
                </div>
                <div class="panel-body"></div>
                <ul class="list-group">
                    <li class="list-group-item"><div class="list-group-item-data">We develop <em>Service Architecture Model</em>, a new approach to systems integration.</div></li>
                    <li class="list-group-item"><div class="list-group-item-data">Formal definition of service architectures</div></li>
                    <li class="list-group-item"><div class="list-group-item-data">Remote dependency injection</div></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-pmsoft">
                <div class="panel-heading">
                    <h3 class="panel-title">Functional approach</h3>
                </div>
                <div class="panel-body"></div>
                <ul class="list-group">
                    <li class="list-group-item"><div class="list-group-item-data">We base software design and implementation in functional paradigm</div></li>
                    <li class="list-group-item"><div class="list-group-item-data">Scala</div></li>
                    <li class="list-group-item"><div class="list-group-item-data">Functional Reactive Programming</div></li>
                    <li class="list-group-item"><div class="list-group-item-data">Event Sourcing DDD</div></li>
                    <li class="list-group-item"><div class="list-group-item-data">NOSQL databases</div></li>
                    <li class="list-group-item"><div class="list-group-item-data">AngularJS</div></li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-pmsoft">
                <div class="panel-heading">
                    <h3 class="panel-title">Open knowledge</h3>
                </div>
                <div class="panel-body"></div>
                <ul class="list-group">
                    <li class="list-group-item"><div class="list-group-item-data">We develop clear logic based in open tools and effective techniques</div></li>
                    <li class="list-group-item"><div class="list-group-item-data">Based on open-source</div></li>
                    <li class="list-group-item"><div class="list-group-item-data">TDD</div></li>
                    <li class="list-group-item"><div class="list-group-item-data">Continuous integration</div></li>
                    <li class="list-group-item"><div class="list-group-item-data">Agile</div></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="page-header text-center">
                <h4>For more information contact us at: <em>contact AT paweld2 dot eu</em></h4>
            </div>
        </div>
    </div>
</div>


