<div class="container">
    <div class="navbarcontainer">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="hidden-phone" src="/images/pmlogo.png" title="PMSOFT" alt="PMSOFT"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="jumbotron">
        <div class="container">
            <h1>PMSOFT - Paweł Cesar Sanjuan Szklarz</h1>
            <h3>contact AT paweld2.eu</h3>
        </div>
    </div>
</div>


